<!-- templates/navbar.html -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand mr-auto" href="https://www.themoviedb.org/" target="_blank">
            <img src="/static/images/tmd.png" width="100" height="45px"alt="Powered by The Movie DB"></a>
        <a class="nav-item nav-link " href="/cart">View Cart</a>
        <!--<a class="nav-item nav-link " href="/wishlist">View Wishlists</a> -->
        <a class="nav-item nav-link " href="/">Return Home</a>
        </div>
    </nav>