
.navbar-brand {
    padding: 0 15px;
    height: 90px;
    line-height: 160px;
  }

/* increase size of search bar */
.form-control {
    height: 50px;
}

/* Center Search bar contents and increase fontsize */
input[type="search"] {
    font-size: 40px;
    color: black;
    text-align: center;
}

.btn {
    margin: 5px;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 10px;
}