
.navbar-brand {
    padding: 0 15px;
    height: 35px;
    line-height: 160px;
  }

.cart-text {
    font-size: 72px;
}
/* increase size of search bar */
.form-control {
    height: 50px;
}

#poster{
    margin-right: 1%;
    margin-left: 1%;
    
}

.nav-item{
    font-size: 20px;
}

hr { 
    background-color: whitesmoke;
    height: 2px;
    border: 0; }

/* Center Search bar contents and increase fontsize */
input[type="search"] {
    font-size: 40px;
    color: black;
    text-align: center;
}

.btn {
    margin: 5px;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 10px;
}

/*Thanks to https://codepen.io/themechills/pen/dMamgG and https://www.bootply.com/XfBS0alpDs
Refactored code to fit my needs.*/
.img-in {
    -webkit-animation: fadein 3.5s, fadeInUp 4.5s; /* Safari and Chrome */
    -moz-animation: fadein 3.5s, fadeInUp 4.5s; /* Firefox */
    -ms-animation: fadein 3.5s,fadeInUp 4.5s;/* Internet Explorer */
    -o-animation: fadein 3.5s, fadeInUp 4.5s;/* Opera */
    animation: fadein 3.5s, fadeInUp 4.5s;
}
    
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​


/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
    }
}
