{% extends 'base.html' %}

{% block content %}

{% if cart |length == 0%}
    <h1 class="cart-text"> Cart </h1>
    <h1 class="cart-text text-center"> There are no items in your cart :(</h1>
{% else %}
<h1 class="cart-text"> Cart ({{cart |length}})</h1>
    {% for movie in cart %}
        <hr/>
        <div class="row">
                <!-- Poster -->
                <img id="poster" class="img-in" src="https://image.tmdb.org/t/p/w400{{ movie['poster_path'] }}" alt="">
                
                <div class="col">
                    <!-- Movie Title and-->
                        <h2>{% include '/partials/movie_title.html'%}</h2>
                        <h2 class="text-right mr-auto"> Quantity: {{movie.quantity}}</h2>
                    <!-- Movie Description -->
                    <br>
                    <h3 class="text-lg-left"> {{movie['overview']}} </h3>
                    <br>
                    <form action="/cart/delete/{{movie._id}}">
                        <button type="submit" class="btn btn-secondary btn-lg btn-danger">Delete Movie</button>
                    </form>
                </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}