{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center">Welcome to the movie shop!</h1>

    <form method ="POST" class="searchbar mx-2 my-auto d-inline w-100">
            <input class="form-control form-control-lg" type="search" name="search" placeholder="Search for movies!!!" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
</div>

<div class="container-fluid">
  {% for i in movies | batch(24, '&nbsp;') %}
    <div class="row">
        {% for movie in movies %}
          {% include 'poster.html' %}
        {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock %}