<!-- poster.html -->
<div class="col-lg-3 text-center">
   <!--Check JSON field fo  r title or name -->
  <div>
        <h3>{% include '/partials/movie_title.html'%}</h3>
    </div>
    <img  class="img-fluid img-in" src="https://image.tmdb.org/t/p/w300{{ movie['poster_path'] }}" alt="">
    <div>
    <!-- Pass in object id to url-->
    <form action='/movie/{{movie._id}}' method='POST'>
        <button type ='submit' class="btn btn-primary btn-md">View Details</button>
    </form>
    <form action='/cart/add/{{movie._id}}'>
        <button type='submit' class="btn btn-primary btn-md">Add to Cart</button>
    </form>
    </div>
</div>


