<!-- poster.html -->
<div class="col-lg-3 text-center">
   <!--Check JSON field fo  r title or name -->
  <div>
        {% if movie.get("title", False)%}
            <h3> {{ movie["title"] }} </h3>
        {% elif movie.get("original_name", False) %}
            <h3> {{ movie["original_name"] }} </h3>
        {% elif movie.get("original_title", False) %}
            <h3> {{ movie["original_title"] }} </h3>
        {% endif %}
    </div>
    <img  class="img-fluid img-in" src="https://image.tmdb.org/t/p/w300{{ movie['poster_path'] }}" alt="">
    <div>
    <!-- Pass in object id to url-->
    <form action='/movie/{{movie._id}}' method='POST'>
        <button href='/movie/{{movie._id}}' class="btn btn-primary name="details" btn-lgr">View Details</a>
        <button href='/my_action2' name="details" class="btn btn-primary btn-lg">Add to Cart</a>
    </form>
    </div>
</div>
